.navbar {
  padding: 10px 30px;

  .navbar-brand {
    margin-right: 30px;
    font-size: 27px;
    letter-spacing: 1px;
    color: $main-app-color;
    font-weight: bold;
  }

  .nav-item {
    font-size: 18px;
  }

  .kos-search {
    height: 40px;
    width: 250px;
  }
}
