@import "./colors.scss";
@import "./header.scss";
@import "./rental-home";
@import "./rental-detail";
@import "./forms";
@import "./booking-reserve";
@import "./booking-listing";
@import "./editable";

html,
body {
  height: 100%;
}

.rental-link {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.kos-container {
  padding-top: 70px;
}

.type- {
  &apartment {
    color: #a72da3;
  }

  &house {
    color: #bf1818;
  }

  &condo {
    color: #d68000;
  }
}

.navbar-dark .navbar-nav {
  .nav-link {
    &:hover {
      color: $main-app-color;
    }
  }
}

.btn {
  &.btn-kos-main {
    border-color: $main-app-color;
    color: $main-app-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $main-app-color;
      border-color: $main-app-color;
      color: white;
      box-shadow: none;
    }

    &:disabled {
      cursor: no-drop;
    }
  }
}
