/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html,
body {
  /* margin: 0;
  padding: 0; */
  height: 100%;
  /* border: 1px solid red; */
}

.blockquote {
  border: 1px solid #191ac7 !important;
  color: #191ac7 !important;
}

small {
  color: #191ac7 !important;
}

.navbar {
  font-family: "Montserrat";
  font-size: 1rem;
}

.kos-container {
  padding-top: 70px;
}

/* RentalHome styles */
.rental-link {
  color: inherit;
}

.rental-link:hover {
  text-decoration: none;
  /* color: inherit; */
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* .card-list {
  padding-top: 70px;
} */

.kos-card {
  border: none;
}

.btn-manage {
  margin-bottom: 20px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.from-inline > .kos-search {
  width: 100%;
}

.card-body {
  padding: 1.25rem !important;
}

.card-subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.card-title {
  font-size: 19px;
  margin: 3px 0;
}

.card-text {
  font-size: 14px;
  font-weight: 500;
  color: #7e7e7e;
  margin-bottom: 0;
}

/* RentalDetail */
#rentalDetails .upper-section img {
  width: 100%;
  height: 360px;
}

/* iPhone 6,7,8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #rentalDetails .upper-section img {
    height: 259px !important;
  }
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  #rentalDetails .upper-section img {
    height: 270px !important;
  }
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #rentalDetails .upper-section img {
    height: 250px !important;
  }
}

#rentalDetails .upper-section {
  margin-bottom: 30px;
}

.details-section {
  color: rgb(133, 133, 133);
}

.rental-room-info {
  margin-right: 10px !important;
  margin-bottom: 20px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  display: block !important;
}

.rental h2 {
  font-size: 14px !important;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.rental-title {
  font-size: 2.5rem !important;
  margin-bottom: 5px;
  font-weight: 600;
}

.rental-city {
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 20px !important;
}

.rental-description {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.rental-assets > .title {
  margin-bottom: 15px !important;
}

.row > .col-md-6 > {
  margin-bottom: 10px !important;
  font-weight: 700;
  font-size: 22px;
}

.assets {
  display: table;
  margin-bottom: 15px;
  font-weight: 500;
}

/* &-title {
         margin-bottom: 5px;
         font-size: 32px;
         font-weight: 700;
       }
  
       &-city {
         font-size: 14px;
         font-weight: 300;
         margin-bottom: 20px;
       }

        &-street {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
      }
  
       &-room-info {
         margin-bottom: 20px;
         font-weight: 300;
         font-size: 16px;
  
         span {
           margin-right: 10px;
         }
  
         i {
           margin-right: 2px;
         }
       }
  
       &-description {
         font-weight: 300;
         margin-bottom: 30px;
       }
  
         span {
           display: block;
           margin-bottom: 15px;
           font-weight: 300;
         } */

@media screen and (max-width: 991px) {
  .sidebar-collapse .navbar-collapse:before {
    background: #2ca8ff !important;
    background: linear-gradient(#2ca8ff, #2c2c2c 80%) !important;
    opacity: 0.76;
    filter: alpha(opacity=76);
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

/* Booking Reserve */
.booking {
  padding: 20px;
  border: 1px solid #dedada;
}

.booking .btn-confirm {
  font-size: 17px;
  font-weight: 700;
  padding: 13px;
}

.booking label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.booking-price {
  font-size: 22px;
  font-weight: 700;
}

.booking-per-night {
  font-size: 13px;
  font-weight: 500;
}

.booking-note-title {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}

.booking-note-text {
  font-size: 13px;
  font-weight: 400;
}

.booking .should-login-btn-container {
  text-align: center;
  margin-bottom: 10px;
}

.booking .should-login-btn-container .btn-login {
  text-align: center;
  font-size: 15px;
  padding: 15px;
}

.booking .should-login-btn-container .btn-login:hover,
.booking .should-login-btn-container .btn-login:focus {
  color: white;
  text-decoration: none;
}

.booking-modal .title {
  font-weight: 700;
  font-size: 26px;
}
.booking-modal .buttons {
  margin: 15px 0px;
}
.booking-modal em {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
}
.booking-modal p {
  margin: 0;
}

.kos-modal {
  padding-top: 30px;
}

.kos-modal .title {
  font-weight: 700;
  font-size: 26px;
}
.kos-modal .modal-body {
  padding-left: 0;
}
.kos-modal .buttons {
  margin: 15px 0px;
}

.btn-reserve {
  background-color: indigo !important;
}

.btn-update {
  background-color: #191ac7 !important;
}

.btn-other {
  background-color: #279650 !important;
}

/* Booking Date */
.btn-kos-main:disabled {
  cursor: no-drop;
}

/* Daterangepicker */
/* .daterangepicker td.in-range {
  background-color: slategray !important;
  opacity: 1 !important;
}

.daterangepicker td.active {
  background-color: black !important;
  opacity: 1 !important;
}

#dates {
  color: #2c2c2c;
} */

/* .daterangepicker::before,
.daterangepicker::after {
  background-color: none !important;
} */

.daterangepicker .calendar-table {
  background-color: transparent !important;
}

.daterangepicker td.in-range {
  background-color: #357ebd !important;
  color: #fff !important;
}

/* .daterangepicker .ltr .show-calendar {
  background-color: none !important;
} */

/* Owner */
.rental-owner {
  float: right;
}
.rental-owner img {
  height: 50px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.rental-owner span {
  display: block;
  font-size: 13px;
  font-weight: 500;
}

.search-container {
  padding: 50px;
  margin: 0;
}

/* editable */
/* .editable-component {
  display: flex;
  margin-bottom: 5px;
}
.editable-component-inline {
  display: inline-flex;
}
.editable-component .editable-item {
  margin-bottom: 0 !important;
}
.editable-component .button-container {
  align-self: center;
}
.editable-component .btn.btn-editable {
  margin-left: 5px;
  color: blue;
  font-size: 12px;
} */

/* .editable-item {
  color: #2ca8ff;
} */

#rentalEdit .editable-component {
  display: flex;
  margin-bottom: 5px;
}
#rentalEdit .editable-component-inline {
  display: inline-flex;
}
#rentalEdit .editable-component-block {
  display: block;
}
#rentalEdit .editable-component .editable-item {
  margin-bottom: 0;
}
#rentalEdit .editable-component .button-container {
  align-self: center;
}
#rentalEdit .editable-component .btn.btn-editable {
  margin-left: 5px;
  color: white;
  font-size: 12px;
}

/* Rental Detail */
#rentalDetails .upper-section .rental-img,
#rentalEdit .upper-section .rental-img {
  width: 100%;
}
