@import "@tomtom-international/web-sdk-maps";

#kos-map {
  height: 360px;
}

.kos-marker {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  background-color: red;
  border-radius: 50%;
  opacity: 0.3;
}
